.App {
    text-align: center;
    padding-bottom: 50px
}
  
h1 {
    font-weight: bold;
    font-style: italic;
    font-family:'Franklin Gothic Medium';
    font-size: 70px;
}
  
#headerDiv {
    color: darkslategray
}

#homeDiv {
    width:50%;
    margin-left: auto;
    margin-right: auto
}
  
.nav{
    display:inline-block;
    border-radius: 20px;
    background-color: darkseagreen;
    padding:20px;
    margin-right: 8px;
    margin-left: 8px
}

.cards{
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px
}

.problem-active {
    font-weight: 800;
    color:darkgreen;
    border: 3px solid darkgreen;
}